In [45]:
import numpy as np
import pandas as pd

import time
import json
import yaml

import tweepy

In [46]:
with open('../config.yaml', 'r') as f:
    config = yaml.safe_load(f)

In [47]:
twitter_config = config.get('twitter')

In [48]:
APP_KEY = twitter_config.get('APP_KEY')
APP_SECRET = twitter_config.get('APP_SECRET')
OAUTH_TOKEN = twitter_config.get('OAUTH_TOKEN')
OAUTH_TOKEN_SECRET = twitter_config.get('OAUTH_TOKEN_SECRET')

In [49]:
def authenticate(api_key, secret_key, access_token, secret_token):

    auth = tweepy.OAuthHandler(api_key, secret_key)
    auth.set_access_token(access_token, secret_token)
    api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)
  
    return api

In [50]:
api = authenticate(APP_KEY, APP_SECRET, OAUTH_TOKEN, OAUTH_TOKEN_SECRET)

In [106]:
def get_tweets(api, user_id):
    cur_users = []
    cur_tweets = []
    
    tweets = api.user_timeline(id=user_id, tweet_mode="extended", count=200)
    
    for tweet in tweets:
        if((tweet.retweeted) or ('RT @' in tweet.full_text)):
            continue
        else:
            cur_tweets.append(tweet.full_text)
            cur_users.append(user_id)

    return cur_users, cur_tweets

In [107]:
users_id = []
tweets = []

In [108]:
data = pd.read_csv("twitter_ID.csv")
data.head()

,Full Name Twitter,Username Twitter,Twitter ID
0,BEM ITS,BEM_ITS,75362544
1,Institut Teknologi Sepuluh Nopember | ITS Sura...,its_campus,306613537
2,ITS Library,PerpustakaanITS,2713719181
3,Lembaga Minat Bakat ITS,LMB_ITS,502525735
4,ITS Robotics,ITS_Robotics,2613707857

In [109]:
for tid in data["Twitter ID"]:
    cur_users, cur_tweets = get_tweets(api, tid)
    users_id.extend(cur_users)
    tweets.extend(cur_tweets)

In [110]:
new_df = pd.DataFrame({"user_id": users_id, "tweet": tweets})

In [111]:
new_df

                                                  tweet    user_id
0     SURABAYA ENVIRONMENTAL TALKSHOW by ENVIRONATIO...   75362544
1     Sebuah Persembahan untuk Sepuluh Nopember! \n\...   75362544
2     Untuk informasi lebih lanjut, kunjungi:\nLine@...   75362544
3     CLOSING MANIFEST 2019\n\nHalo KM ITS!\n\nDatan...   75362544
4     Go grabs yours!\nPresale 2 tickets only 60.000...   75362544
5     PARADIGM ISE 2019\n\nISE 2019 Proudly Present:...   75362544
6     Dengan komitmen global, mari kita bersama menj...   75362544
7     Perserikatan Bangsa-Bangsa berulangtahun ke 74...   75362544
8     Tiket bisa di beli https://t.co/Mlxw4rxZMD, go...   75362544
9     SCHEMATICS REEVA\n\nHalo KM ITS! \n\nKonser mu...   75362544
10    Line | Ig : @schematics.its\nTwitter | Ask : @...   75362544
11    Jadilah bagian dari revolusi dengan membeli ti...   75362544
12    Kamu bisa mendapatkan total SKEM 400 jika kamu...   75362544
13    SCHEMATICS NATIONAL SEMINAR OF TECHNOLOGY (NST...   75362544
14    Narahubung:\nNike Besta - (0822-2895-8301)\nEm...   75362544
15    Untuk jadwal pelatihan dan informasi lebih lan...   75362544
16    Halo KM ITS!\n\nAda info menarik untuk kalian ...   75362544
17    Halo KM ITS!\n\nAda info menarik dari nih! \nC...   75362544
18    Seruan langsung kpd semua rakyat &amp; mahasis...   75362544
19    Terdapat sejumlah poin krusial yg melemahkan K...   75362544
20    SISA 4 KURSI! SAHABAT IELTS SURABAYA BATCH 2, ...   75362544
21    IELTS PREDICTION TEST\n\nCashback 200rb IELTS ...   75362544
22    Hai @bem_unpad,\nHati-hati di jalan, rek! \nKe...   75362544
23    Halo KM ITS! \n\nDitengah keramaian isu-isu ya...   75362544
24    Halo KMT ITS!\n\nSenandung asma-Nya menghiasi ...   75362544
25    (cont)\nTetapi apakah kalian menyadari beberap...   75362544
26    Selamat siang KM ITS! \n\nPeriode ke-2 Preside...   75362544
27                              Selamat datang Agustus!   75362544
28    Selamat malam KM ITS!\n\nYa meskipun Juli suda...   75362544
29    Selamat siang KM ITS!\n\nWah, bulan depan suda...   75362544
...                                                 ...        ...
3541  || Live Report NLCXNPC 2018 ||\n\nHalo, Schema...  197740648
3542  || Live Report Final NLC 2018 ||\n\nHalo, Sche...  197740648
3543  || Live Report Final NPC 2018 ||\n\nHalo, Sche...  197740648
3544  || Finalis NLC 2018 ||\n\nHalo, Schematist!ðŸ¤—\n...  197740648
3545  || Finalis NLC 2018 ||\n\nHalo, Schematist!ðŸ¤—\n...  197740648
3546  || Finalis NLC 2018 ||\n\nHalo, Schematist!ðŸ¤—\n...  197740648
3547  || Live Report Final NPC 2018 ||\n\nHalo, Sche...  197740648
3548  || Selamat Berjuang Lagi Besok ||\n\nHalo, Sch...  197740648
3549  || Live Report Perempat Final NLC 2018 ||\n\nH...  197740648
3550  || Live Report Perdelapan Final NLC 2018 ||\n\...  197740648
3551  || Live Report Perdelapan Final NLC 2018 ||\n\...  197740648
3552     @jinko_chan halo, silahkan cek di website ya ðŸ˜€  197740648
3553  || Live Report Perdelapan Final NLC 2018 ||\n\...  197740648
3554  || Live Report Perdelapan Final NLC 2018 ||\n\...  197740648
3555  || Pengumuman Penyisihan NLC 2018 ||\n\nHalo, ...  197740648
3556  || CHALLENGE SCHEMATICS NST ||\n\nApakah kalia...  197740648
3557  || CHALLENGE SCHEMATICS NST ||\n\nApakah kalia...  197740648
3558  || Pre-Sale #2 ||\n\nHai Schematist!ðŸ¤—\n\nSeger...  197740648
3559  || Seminar dari Schematics ||\n\nHai, Schemati...  197740648
3560  || Pre-Sale #2 REEVA Masih Ada ðŸ”¥ ||\n\nHalo Sc...  197740648
3561  || Finalis NPC 2018 ||\n\nHalo, Schematist! ðŸ¤—\...  197740648
3562  || Live Report NLC 2018 ||\n\nHalo, Schematist...  197740648
3563  || Live Report NLC 2018 ||\n\nHalo, Schematist...  197740648
3564  || Live Report NLC 2018 ||\n\nHalo, Schematist...  197740648
3565  || Live Report NLC 2018 ||\n\nHalo, Schematist...  197740648
3566  || Live Report NLC 2018 ||\n\nHalo, Schematist...  197740648
3567  @Azhar_Fahri661 hallo, ada nama region di web ...  197740648
3568  || H-1 Penyisihan NLC ||\n\nHalo Schematist! ðŸ¤—...  197740648
3569  || H-2 Penyisihan NLC ||\n\nHalo Schematist! ðŸ¤—...  197740648
3570  || BE A PART OF SCHEMATICS 2018 ||\n\nHalo, Sc...  197740648

[3571 rows x 2 columns]

In [112]:
new_df.to_csv("tweets.csv", index=False)